html {
	font-family: 'layton_font';
	background-color: #fff7de;
}

body { 
  min-height: 100vh; 
  overflow: auto;
}

.tab {
  overflow: hidden;
  background-color: #fff7de;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  cursor: pointer;
  padding: 8px 16px;
  transition: 0.3s;
  margin-right: 2px;
  margin-left: 2.5px;
  border-width: 2.5px 2.5px 0px 2.5px;
  border-style: solid;
  border-color: #000000;
  border-radius: 5px 5px 0px 0px;
}


/* Badly hide the border of the hint box */
.active::after {
  content:"";
  display: block;
  background-color: white;
  transform: translateX(-16px);
  width: 67px;
  position: absolute;
  height: 11px;
  
}


.tabcontent {
  display: none;
  border: 2.5px solid #000000;
  min-height: 300px;
  border-radius: 3px;
}

.locked {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px;
	flex-direction: column;
	padding-right: 0.25px;
}

.unlocked {
	padding: 0px;
}

.bonus {
	margin: 3px;
	min-height: inherit;
	padding: 1px;
	max-height: 300px;
	overflow-y: auto;
}


button.unlock {
	aspect-ratio: 2.69/1;
	height: 25px;
	margin: 10px;
	border: 2px solid #000000;
	border-radius: 2.5px;
	box-shadow: 2px 2px #715828;
	color: white;
	text-shadow: 0 0 2px #000000;
}

button.ok{
	background-color: #943910;
}
button.no{
	background-color: #08848c;
}

button.enter{
	background-color: beige;
	border: 2px solid #000000;
	border-radius: 2.5px;
	box-shadow: 2px 2px #715828;
}

.canvas {
	min-height: 100vh; 
	display: flex;
	justify-content: center;
	align-items: center;
}

.hint-box {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 350px;
	height: 350px;
}

.hint-box, .canvas {
	background-color: #fff7de;
}


#Hint1, #TabHint1, #TabHint1.active::after {
	background-color: #f7f7c6;
}

#Hint2, #TabHint2, #TabHint2.active::after {
	background-color: #d6f7ce;
}

#Hint3, #TabHint3, #TabHint3.active::after {
	background-color: #cef7e7;
}

#back {
	background-color: #08848c;
	border-bottom: 2.5px;
}

#lockedHint1{
	background-color: #bdb584;
}

#lockedHint2{
	background-color: #94bd84;
}

#lockedHint3{
	background-color: #84bda5;
}

#lockedHint1, #lockedHint2, #lockedHint3 {
	min-width: 98%;
	min-height: inherit;
	margin: 3px;
	border: 1.5px solid #000000;
	border-radius: 5px;
}


